/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap");

:root {
  --light: #f5f5f5;
  --dark: #4d724d;
  --bright: #8db48e;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: var(--dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark);
}

img {
  /* display: block;
  width: 100%; */
}

.wrapper {
  width: 80%;
  height: 100vh;
  margin: auto;
}

.btn {
  display: inline-block;
}

.btn--sm {
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark);
  color: var(--dark);
  border-radius: 5px;
  box-shadow: 5px 5px 0px rgba(77, 114, 77, 1);
  transition: all 0.5s ease-in-out;
}

.btn--sm:hover {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 0px 0px 0px rgba(77, 114, 77, 1);
}

/* .btn--arrow {
  align-self: center;
  position: absolute;
  bottom: 0;
}

.btn--arrow:hover {
  opacity: 0.5;
  bottom: -1rem;
  transition: all 0.5s ease-in-out;
} */

/* Page Styles */
/* Navbar */
.navbar {
  height: 100px;
  /* width: 100%; */
  margin-top: 3rem;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar__logo {
  width: 50px;
  height: 50px;
}

.navbar__item {
  padding-left: 2rem;
}

.navbar__link {
  justify-self: end;
  color: var(--dark);
  transition: all 0.5s ease-in-out;
}

.navbar__link:hover {
  color: var(--bright);
}

@media (min-width: 800px) {
  .navbar__list {
    justify-content: flex-end;
  }
}

/* Landing Section */
.landing__container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  margin-bottom: 3rem;
}

.landing__title {
  font-size: 5rem;
  text-transform: lowercase;
}

.landing__tagline {
  font-size: 5rem;
  color: var(--bright);
  margin-bottom: 5rem;
}

.landing__text {
  font-size: 1.5rem;
  color: var(--bright);
  width: 50%;
  padding: 1rem;
  border: 1px solid var(--dark);
  color: var(--dark);
  border-radius: 5px;
  box-shadow: 20px 20px 0px rgba(77, 114, 77, 1);
}

.landing__img {
  width: 50%;
  align-self: flex-end;
}
