

/* Landing Section */
.landing__container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing__hello {
  font-size: 0.75rem;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--dark);
}

.landing__title {
  font-size: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.landing__tagline {
  font-size: 1.5rem;
  color: var(--bright);
}

.landing__text {
  position: absolute;
  top: -1000px;
}

@media (min-width: 525px) {
  .landing__container {
    height: 70vh;
  }

  .landing__title {
    font-size: 4.5rem;
    padding-bottom: 2rem;
  }

  .landing__tagline {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  .landing__text {
    position: static;
    top: 0;
    width: 500px;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 1230px) {
  .landing__title {
    font-size: 6rem;
  }

  .landing__tagline {
    font-size: 4rem;
  }

  .landing__text {
    position: static;
    top: 0;
    width: 500px;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 2400px) {
  .header {
    min-height: 200px;
  }

  .landing__hello {
    font-size: 1.5rem;
  }

  .landing__title {
    font-size: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .landing__tagline {
    font-size: 6rem;
    padding-bottom: 3rem;
  }

  .landing__text {
    font-size: 2rem;
    width: 700px;
    padding-bottom: 3rem;
  }
}

/* Work Section */
.work {
  text-align: center;
}

.work__title {
  font-size: 3rem;
  padding: 2rem 0;
  border-bottom: 1px solid var(--bright);
  margin-bottom: 2rem;
}

.work__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 1s ease-in-out;
}

.work__header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.work__heading {
  font-size: 3rem;
}

.work__img {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.work__description {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.4;
  padding: 2rem 0 1rem 0;
}

.work__languages {
  font-size: 1.5rem;
  color: var(--bright);
  text-align: left;
  padding: 1rem 0;
}

@media (min-width: 375px) {
  .work__heading {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .work__item {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "image description"
      "languages languages"
      "btn btn";
  }

  .work__img {
    grid-area: image;
  }

  .work__header {
    justify-content: space-between;
    /* background: url(../img/SpotifyClone.jpg) no-repeat center center/contain; */
    /* height: 300px; */
    grid-area: title;
    margin-bottom: 2rem;
  }

  .work__heading {
    font-size: 4rem;
  }

  .work__description {
    grid-area: description;
    margin-bottom: 2rem;
    padding: 0 0 0 1rem;
  }

  .work__languages {
    grid-area: languages;
    justify-self: center;
  }
}
